body {
    padding: 200px;
}

#white-part {
    height: 300px;
    width: 400px;
    border: solid 2px black;

}

#red-part {
    height: 150px;
    width: 150px;
    background-color: red;
    border-radius: 50%;
    margin: 75px 125px 75px 125px
}