h1 {
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    text-align: right;
}

h2 {
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    text-align: center;
}

#toptext {
    padding: 80px
}

#toptextmiddle {
    padding: 10px
}

#tophead {
    background-color: black;
    height: 300px;
    width: 2000px;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
}

#sidebar {
    background-color: grey;
    border-color: black;
    border-left: 10px;
    height: 80px;
    width: 2000px;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
}

#sidebartext {
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    text-align: center;
}