#top {
    padding: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: orangered;
    border: 5px solid black;
    margin-bottom: 20px;
    animation-name: color-swap;
    animation-duration: 20s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

#introduction {
    padding: 30px;
    border: 5px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: mediumspringgreen;
    margin-bottom: 20px;
}

#childhood {
    padding: 30px;
    border: 5px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightpink;
    margin-bottom: 20px;
}

#hobbies {
    padding: 30px;
    border: 5px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightblue;
    margin-bottom: 20px;
}

#easter {
    padding: 30px;
    border: 5px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: plum;
    margin-bottom: 20px;
}

#form {
    padding: 30px;
    border: 5px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: mediumspringgreen;
    margin-bottom: 20px;
}

#location {
    padding: 30px;
    border: 5px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(250, 200, 0);
    margin-bottom: 20px;
}

#footer {
    padding: 30px;
    padding-bottom: 100px;
    border: 5px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: orange;
    margin-bottom: 20px;
}

@keyframes color-swap {
    0% {background-color: orangered;}
    23% {background-color: red;}
    50% {background-color: blueviolet;}
    75% {background-color: skyblue;}
    100% {background-color: orangered;}
}

@media screen and (max-width: 600px) {
    #top {
        padding: 1px;
        margin-bottom: 3px;
    }

    #introduction {
        padding: 1px;
        margin-bottom: 3px;
    }

    #childhood {
        padding: 1px;
        margin-bottom: 3px;
    }

    #form {
        padding: 1px;
        margin-bottom: 3px;
    }

    #hobbies {
        padding: 1px;
        margin-bottom: 3px;
    }

    #easter {
        padding: 1px;
        margin-bottom: 3px;
    }

    #footer {
        padding: 5px;
        margin-top: 10px;
    }

}

@media screen and (max-width: 992px) {
    #top {
        padding: 3px;
        margin-bottom: 7px;
    }

    #introduction {
        padding: 3px;
        margin-bottom: 7px;
    }

    #childhood {
        padding: 3px;
        margin-bottom: 7px;
    }

    #form {
        padding: 3px;
        margin-bottom: 7px;
    }

    #hobbies {
        padding: 3px;
        margin-bottom: 7px;
    }

    #easter {
        padding: 3px;
        margin-bottom: 7px;
    }

    #footer {
        padding: 10px;
        margin-top: 14px;
    }

}

@media screen and (max-width: 1104px) {
    #top {
        padding: 4px;
        margin-bottom: 9px;
    }

    #introduction {
        padding: 4px;
        margin-bottom: 9px;
    }

    #childhood {
        padding: 4px;
        margin-bottom: 9px;
    }

    #form {
        padding: 4px;
        margin-bottom: 9px;
    }

    #hobbies {
        padding: 4px;
        margin-bottom: 9px;
    }

    #easter {
        padding: 4px;
        margin-bottom: 9px;
    }

    #footer {
        padding: 15px;
        margin-top: 23px;
    }

}